name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Checkout code
        uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: "--timeout 5m"
          version: v2.8

  tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - uses: zencargo/github-action-go-mod-tidy@v1
        with:
          go-version: '1.25'

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Test
        run: make test


